body {background-image: linear-gradient(85deg, #0664A4,#8EDEF7);}
table{border: 1; background-color: #ECFAFD;}
h1{font-size: 100; color: #044f81;}
h2{font-feature-settings: 85; color: #076fb4;}
p{text-align: justify;}